# Byte-compiled / optimized / DLL files
*.pyc

# Temporary files
temp.*
tmp*
tmp/

# Test output files
test_output/*.json
test_output/*.png

# Output files
json/*.json
png/*.png

# Copilot's verbose documentation files
docs/*

# Distribution / packaging
*.whl

# Smoothing demonstrations
smooth_min_*.*

# VS Code settings
.vscode/settings.json
