# Byte-compiled / optimized / DLL files
*.pyc

# Temporary files
temp.*
tmp*
tmp/

# Output files
json/*.json
png/*.png

# Copilot's verbose documentation files
docs/*

# Distribution / packaging
*.whl

# Smoothing demonstrations
smooth_min_*.*
